#lol{
    background-color:#1c283e;
    height: 5vh;
}

#headline{
    margin-top: 5vh; 

}
#customerInfoBox{
height: 30vh;
width: 100vh;

}

#idNumberBox1{
    margin-left: 5vh;
}

#idNumberBox{

    background-color: rgba(157, 155, 153, 0);
    display: inline;
    flex-direction: column;
  
    height: 10vh;
    justify-content: center;
    align-content: center;
    
    
    

}
#inputBox{
    border-radius: 11px 11px 11px 11px;
}

#nameBox{
    background-color:  rgba(157, 155, 153, 0);
    display: inline;
    flex-direction: column;
  
    height: 10vh;
    justify-content: center;
    align-content: center;
    margin: 2vh;
    

}

#lastNamebox{
    background-color:  rgba(157, 155, 153, 0);
    display: inline;
    flex-direction: column;
  
    height: 10vh;
    justify-content: center;
    align-content: center;
}


#backgroundBox{
    display: inline;
    flex-direction: column;
    height: 94vh;
}




#back{
    display: flex;
    margin-left: 5vw;
    color: aliceblue;
   
}

#boxOne{
    display: flex;
    flex-direction: column;
    background-color: #1c283eea;
    height: 35vh;
    justify-content: center;
    align-content: center;
    border-radius: 11px 11px 11px 11px;
    max-width: 95%;
    
   
}



#drop1{
    background-color: #f9fafc;
    
    width: 18vh;
    display: inline;
    flex-direction: row;
    height: 40px;
    margin: 0.3%;
    

}



#firstRow{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;


}

#secondRow{
    display: flex;
    align-items: center;

}

#abonnementBox{
    display: flex;
    background-color: rgba(157, 155, 153, 0);
    height: 20vh;

   

}
#chekAbonnement{
    background-color:  rgba(157, 155, 153, 0);
display: inline;
margin-top: 10vh; 
margin-left: 50vh; 
justify-content: center;
align-content: center;

}

#done{
    margin-bottom: 5vh;   
}











